@import "tailwindcss";

@theme {
  --color-primary: #0A2A61;
  --color-primary-200: #183f85;

  --font-condensed: 'Roboto Condensed', sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-sora: "Sora", sans-serif;

}

body {
  @apply bg-linear-to-br from-blue-50 to-indigo-50;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}